@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-fondo-oscuro: #272727;
  --color-texto-claro: #FFFFFF;
  --color-botones: #FFA500;
  --color-elementos-positivos: #32CD32;
  --color-resaltar-info: #87CEEB;
  --color-acentos-decorativos: #FFD700;
  --color-toques-femeninos: #FFC0CB;
  --color-misterio-suspenso: #9400D3;
  --color-areas-criticas: #FF4500;
  --color-llamadas-accion: #00FFFF;
  --color-info-adicional: #8A2BE2;
  --color-elementos-positivos-brillantes: #00FF00;
  --color-destacado-importante: #FF69B4;
  --color-azul-acero: #4682B4;
  --color-alerta-destacada: #FFFF00;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body::-webkit-scrollbar {
  background-color: var(--color-fondo-oscuro);
  border-radius: 20px;
  width: 5px;
}
body::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  body {
    color: rgb(255, 255, 255);
    background: var(--color-fondo-oscuro);
  }
}
